*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import '@fontsource/quicksand';

body {
    background-color: #FFF7EF;
    font-family: 'Quicksand', sans-serif;
}

.navbar {
    background-color: #7c695c;
    height: 40px;
    width: 100%;
    box-shadow: 0 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.nav-container {
    list-style-type: none;
    display: inline-block;
    position: relative;
    margin: 30px;
    padding: 20px;
    left: 9px;
}

.nav-link {
    color: #FFF7EF;
    background: none;
    text-decoration-line: none;
    font-size: 17px;
}

.nav-container::after{
    width: 0%;
    height: 3px;
    background: #8FC4ED;
    position: absolute;
    content: '';
    left: 0px;
    top: 10px;
    border-radius: 5px;
    transition: all .3s ease;
}

.logo {
    position: absolute;
}

.namie {
    left: 9px;
    width: 60px;
    height: 60px;
    top: -10px;
} 

.github {
    right: 10px;
    width: 30px;
    height: 30px;
    top: 5px;
}

.nav-container:hover::after{
    width: 100%;
}

.nav-container:nth-child(2):hover~.animation{
    left: 877px;
    width: 98px;
}

.nav-container:nth-child(3):hover~.animation{
    left: 1035px;
    width: 120px;
}

.photos {
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 30px;
}

.photos img{
    opacity: 1;
    transition: opacity .5s ease;
    padding: 10px;
}

.about {
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#title {
    font-size: 30px;
    font-weight: 500;
    padding-top: 50px;
    padding-bottom: 50px;
}

#title2 {
    font-size: 30px;
    font-weight: 500;
}

#text {
    font-size: 20px;
    font-weight: 400;
    width: 80vw;
    padding-bottom: 30px;
    text-align: justify;
}

.grid {
    position: relative;
    justify-content: center;
    display: grid;
    top: 50px;
    grid-template-columns: auto auto;
    column-gap: 60px;
    row-gap: 60px;
}

.gridItems {
    background-color: #7c695c;
    padding: 350px 250px;
    border-radius: 10px;
    background-image: linear-gradient( to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}


@media screen and (max-width: 565px) {
    .nav-container{margin: 5px;}
    .photos img{width: 128px;}
    #text{width: 70vw;}
}

@media screen and (max-width: 1200px) {
    .gridItems{padding: 300px 200px;}
}

@media screen and (max-width: 950px) {
    .grid{column-gap: 15px; row-gap: 30px;}
}

@media screen and (max-width: 850px) {
    .gridItems{padding: 250px 150px}
}

@media screen and (max-width: 650px) {
    .gridItems{padding: 200px 100px}
}

@media screen and (max-width: 650px) and (min-height: 1000px) {
    .grid{grid-template-columns: auto;}
}

@media screen and (max-width: 850px) and (min-height: 1500px) {
    .gridItems{padding: 350px 250px}
    .grid{grid-template-columns: auto;}
}